{% if meal.pk %}
<form action="{% url 'meal_edit' meal.pk %}" method="post">
{% else %}
<form action="{% url 'meal_add' %}" method="post">
{% endif %}

{% csrf_token %}

{% include "foodstuffs/form_snippet.html" with form=form %}

{{ formset.management_form }}
<ul>
{% for form in formset %}
  <li>{% include "foodstuffs/form_snippet.html" with form=form %}</li>
{% endfor %}
</ul>

{% if meal.pk %}
<input type="submit" name="submit" value="Save Meal">
{% else %}
<input type="submit" name="submit" value="Create Meal">
{% endif %}

</form>
